@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --font-family: 'Manrope', sans-serif;

  --gradient-text: linear-gradient(159.97deg, #30CFD0 1.84%, #aad564 102.67%);
  --gradient-bar: linear-gradient(159.97deg, #24e99d 33.3%, #38ac97 92.67%);
  
  --color-bg: #fefbf0;
  --color-footer : #ffe499;
  --color-blog: #042c54;
  --color-text: #858585;
  --color-subtext: #38ac97;
  --color-button: #aad564;
}